<!-- Modal -->
<div class="modal fade" id="modalloading" role="dialog">
	<!--<div class="modal-dialog modal-sm">-->
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<center>
					<img src="resource/img/load3.gif">
					<p style="color: #000"><strong>Relaxe!</strong> tome um café isso vai durar horas</p>
					<p style="color: #000">seu cadastro está sendo efetuado!</p>
					</center>
				</div>
			</div>
		</div>
	</div>
</div>
